.grid-container{
    display: grid;
    gap:10px ;
    width:100% ;
    background-color: lightseagreen;
    grid-template-areas: aside header;
                         :side main;
                         :footer footer;
    }
    #header{
        grid-area: header;
        color: brown;
    }
    #aside{
        grid-area: aside;
        color: chartreuse;
    }
    #main{
        grid-area: main;
        color: deepskyblue;
    }
    #footer{
        grid-area: footer;
        color: hotpink;
    }
