.grid-container{
    display: grid;
    gap:10px ;
    width:100% ;
    background-color: lightseagreen;
    grid-template-areas: aside header;
                         :side main;
                         :footer footer;
    }
